@font-face {
    font-family: 'Kumbh_bold';
    src: url('./images/KumbhSans-Bold.ttf');
}
@font-face {
    font-family: 'Kumbh';
    src: url('./images/KumbhSans-Regular.ttf');
}


*{
    margin: 0;
}

body{
    height: 100vh;
    width: 90vw;
    background: linear-gradient(180deg, #FBDA61 0%, #FF5ACD 100%);
}

.accordion-content {
    max-width: 570px;
    margin: 0 auto;
    padding: 0;
    background: #fff;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.09);
    border-radius: 8px;
  }
  .accordion-item {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.09);
    cursor: pointer;
    background: #fff;
    margin-bottom: 0.5em;

  }
  .item-header {
    display: flex;
    justify-content: space-between;
    column-gap: 0.2em;
  }
  
  .item-icon {
    margin-top: 1rem;
    flex: 0 0 25px;
    display: grid;
    place-items: center;
    font-size: 1.25rem;
    height: 25px;
    width: 25px;
    border-radius: 4px;
    background: #dedede;
    cursor: pointer;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.09);
  }
  .item-icon i {
    transition: all 0.25s cubic-bezier(0.5, 0, 0.1, 1);
  }
  .item-question {
    font-size: 1em;
    line-height: 1;
    font-weight: 500;
  }
  
  .active .item-icon i {
    transform: rotate(180deg);
  }
  
  .active .item-question {
    font-weight: 500;
  }
  
  .item-content {
    max-height: 0;
    overflow: hidden;
    transition: all 300ms ease;
  }
  
  .item-answer {
    line-height: 150%;
    opacity: 0.8;
  }


h1{
    font-family: "Kumbh_bold";  
}





/*//////////////////////////////MOBILE FIRST///////////////////////////////*/


@media (max-width: 320px) {
    body{
        width: 100vw;
        height: 100vh;
    }
    .placecont{
        height: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .contenufaq{
        background-color: #ffffff;
        height: 65vh;
        width: 85vw;
        box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
        border-radius: 23px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

    }

    .image{
        height: 150px;
        width: 148px;
        position: absolute;
        top: 8%;
    }
    .image2{
        height: 260px;
        width: 190px;
        position: relative;
        bottom: 12%;
        margin-right: 10%;
    }
    h1{
        position: absolute;
        margin-top: 130px;
    }

}

@media (max-width: 375px) {
    body{
        width: 100vw;
        height: 100vh;
    }
    .placecont{
        height: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .contenufaq{
        background-color: #ffffff;
        height: 65vh;
        width: 85vw;
        box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
        border-radius: 23px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        overflow: hidden;

    }

    .image{
        height: 9.375em;
        width: 9.25em;
        position: absolute;
        top: 7%;
        margin-left: 2%;
    }
    .image2{
        height: 17em;
        width: 12em;
        position: relative;
        bottom: 0.5%;
        margin-right: 7%;
    }
    h1{
        position: absolute;
        margin-top: 6.875em;
    }

}

/*MOBILE*/

@media (max-width: 425px) {
    body{
        width: 100vw;
        height: 100vh;
        font-family: "Kumbh";
    }
    .placecont{
        height: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .contenufaq{
        background-color: #ffffff;
        height: 65vh;
        width: 85vw;
        box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
        border-radius: 23px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        overflow: hidden;

    }

    .image{
        height: 9.375em;
        width: 9.25em;
        position: absolute;
        top: 7%;
        margin-left: 2%;
    }
    .image2{
        height: 12em;
        width: 12em;
        position: relative;
        bottom: 6%;
        margin-right: 6%;
    }
    h1{
        position: absolute;
        margin-top: 25%;
    }
    p{
        font-size: 12px;
    }
    h4{
        font-size: 14px bold;
    }

}

/*TABLET*/

@media (min-width: 424px) {
    body{
        width: 100vw;
        height: 100vh;
        font-family: "Kumbh";
    }
    .placecont{
        height: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .contenufaq{
        background-color: #ffffff;
        height: 70%;
        width: 90vw;
        box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
        border-radius: 23px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        overflow: hidden;


    }

    .image{
        height: 9.375em;
        width: 9.25em;
        position: absolute;
        top: 7%;
        margin-left: 2%;
    }
    .image2{
        height: 12em;
        width: 12em;
        position: relative;
        bottom: 6%;
        margin-right: 6%;
    }
    h1{
        position: absolute;
        margin-top: 25%;
    }
    p{
        font-size: 12px;
    }
    h4{
        font-size: 14px bold;
    }
    .accordion-content{
        height: 50px;
    }
    header{
        height: 8vh;
    }

}

